@model ContactAppEF.Models.User

@{
    ViewBag.Title = "GetContacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacts  of  @Html.DisplayFor(model => model.Name) </h2>

<div>
    <hr />
   <ul>
       @foreach(var contact in Model.Contacts)
            {
                <li>@contact.Name</li>
            }
   </ul>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
